<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="foHomeMapper">

    <!-- 홈 목록 -->
    <select id="arraysHome" statementType="PREPARED" parameterType="map" resultType="map">
        /* foEventMapper.arraysEvent */
        select HOME_SEQ
             , HOME_IMAGE
        from T_HOME
        where USE_YN = 'Y'
    </select>

</mapper>